<% for (const film of films) { %>
    <hr>
    <div class="film-container">

        <a href="/film/<%= film.id %>">
            <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">
        </a>


        <div class="film-details">

            <div class="ml-30">
                <a href="/remove-favourite/<%= film.id %>">🧡</a>
            </div>
            <a href="/film/<%= film.id %>">
                <div class="ml-30"><%= film.title %></div>
            </a>


            <div class="ml-30">(<%= film.year %>)</div>

            <% if (film.favCount == 1) { %>
                <div class="ml-30">Líbí se pouze tobě</div>
            <% } else { %>
                <div class="ml-30">Celkem se líbí <%= film.favCount %> uživatelům</div>
            <% } %>
        </div>
    </div>
<% } %>
<hr>


