<% for (const film of films) { %>
    <hr>
    <div class="film-container">

        <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">

        <div class="film-details">

            <div class="ml-30">
                <a href="/remove-favourite/<%= film.id %>">🧡</a>
            </div>

            <div class="ml-30"><%= film.title %></div>

            <div class="ml-30">(<%= film.year %>)</div>

            <% if (film.favCount == 1) { %>
                <div class="ml-30">Líbí se pouze tobě</div>
            <% } else { %>
                <div class="ml-30">Celkem se líbí <%= film.favCount %> uživatelům</div>
            <% } %>



        </div>
    </div>

<% } %>


