<div class="film-list">
    <% for (const film of films) { %>
        <div class="film-card flex-column-center">

            <a href="/film/<%= film.id %>" class="flex-column-center film-card-link">

                <%= film.title %> (<%= film.year %>)

                <img src="/film_covers/<%= film.coverFileName %>" class="film-cover">

                <div class="film-car-rating">
                    <% for (let i = 0; i < film.avgRating; i++ )
                    { %>⭐
                    <% } %>
                </div>
            </a>

            <% if (user) { %>

                <div>
                    <% if (!film.favourite) { %>
                        <%= film.favCount %>x <a href="/favourites/<%= film.id %>">🤍</a>
                    <% } else { %>
                        <%= film.favCount %>x <a href="/remove-favourite/<%= film.id %>">🧡</a>
                    <% } %>
                    <% if (!film.watched) { %>
                        <% if (!film.toWatch) { %>
                            <a href="/add-to-watch/<%= film.id %>" class="opacity-30">👀</a>
                        <% } else { %>
                            <a href="/remove-from-to-watch/<%= film.id %>">👀</a>
                        <% } %>
                    <% } %>

                </div>
            <% } %>
        </div>
    <% } %>
</div>

