<div class="film-list">
    <% for (const film of films) { %>
        <div class="film-card">

            <div>
                <%= film.title %>
                (<%= film.year %>)
            </div>

            <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">

            <% if (user) { %>

                <div>
                    <% if (!film.favourite) { %>
                        <%= film.favCount %>x <a href="/favourites/<%= film.id %>">🤍</a>
                    <% } else { %>
                            <%= film.favCount %>x <a href="/remove-favourite/<%= film.id %>">🧡</a>
                    <% } %>
                    <% if (!film.watched) { %>
                        <% if (!film.toWatch) { %>
                            <a href="/add-to-watch/<%= film.id %>">⬜</a>
                        <% } else { %>
                            <a href="/remove-from-to-watch/<%= film.id %>">👀</a>
                        <% } %>
                    <% } %>

                </div>
            <% } %>
        </div>
    <% } %>
</div>

