
<% for (const film of toWatchFilms) { %>
    <hr>
    <div class="film-container">

        <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">

        <div class="film-details">

            <a href="/watched/<%= film.id %>" class="ml-30">✅</a>

            <a href="/remove-from-to-watch/<%= film.id %>" class="ml-30">❌</a>

            <div class="ml-30"><%= film.title %></div>

            <div class="ml-30">(<%= film.year %>)</div>

        </div>
    </div>

<% } %>

