<% for (const film of toWatchFilms) { %>
    <hr>
    <div class="film-container">

        <a href="/film/<%= film.id %>">
            <img src="/film_covers/<%= film.id %>.jpg" class="film-cover">
        </a>

        <div class="film-details">

            <a href="/watched/<%= film.id %>" class="ml-30">✅</a>

            <a href="/remove-from-to-watch/<%= film.id %>" class="ml-30">❌</a>

            <a href="/film/<%= film.id %>" class="ml-30">
                <%= film.title %>
            </a>


            <div class="ml-30">(<%= film.year %>)</div>

        </div>
    </div>

<% } %>
<hr>
