<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>UserId</th>
        <th>FilmId</th>
        <th>Watched</th>

    </tr>

    <% for (const film of watchedFilms) { %>
        <tr>
            <td><%= film.title %></td>
            <td><%= film.year %></td>
            <td><%= film.userId %></td>
            <td><%= film.id %></td>
            <td><%= film.count %></td>

            <% if (!film.favourite) { %>
                <td><a href="/favourites/<%= film.id %>">🤍</a></td>
            <% } else { %>
                <td><a href="/remove-favourite/<%= film.id %>">🧡</a></td>
            <% } %>

            <td><a href="/watched/<%= film.id %>">✔</a></td>

            <td><a href="/rated/<%= film.id %>/5">
                    <% if (film.rating > 4) { %>
                        ⭐
                    <% } else { %>
                        ⚪
                    <% } %></a></td>
            <td><a href="/rated/<%= film.id %>/4">
                    <% if (film.rating > 3) { %>
                        ⭐
                    <% } else { %>
                        ⚪
                    <% } %></a></td>
            <td><a href="/rated/<%= film.id %>/3">
                    <% if (film.rating > 2) { %>
                        ⭐
                    <% } else { %>
                        ⚪
                    <% } %></a></td>
            <td><a href="/rated/<%= film.id %>/2">
                    <% if (film.rating > 1) { %>
                        ⭐
                    <% } else { %>
                        ⚪
                    <% } %></a></td>
            <td><a href="/rated/<%= film.id %>/1">
                    <% if (film.rating > 0) { %>
                        ⭐
                    <% } else { %>
                        ⚪
                    <% } %></a></td>

            <td><%= film.rating %></td>

        </tr>
    <% } %>
</table>
