<%- include('_header') %>
<%- include('_navbar') %>

<h2>Chceš zhlédnout</h2>
<% if (toWatchFilms.length >= 1) { %>
    <div id="to-watch-films"><%- include('_toWatchFilms') %></div>
<% } else { %>
    <div class="ml-30">žádné</div>
<% } %>

<hr>
<h2>Již jsi zhlédl</h2>
<% if (watchedFilms.length >= 1) { %>
    <div id="watched-films" class="mb-40"><%- include('_watchedFilms') %></div>
<% } else { %>
    <div class="ml-30 mb-40">žádné</div>
<% } %>



<%- include('_footer') %>
