<%- include('_header') %>
<%- include('_navbar') %>

<h2>Chceš zhlédnout</h2>
<div id="to-watch-films"><%- include('_toWatchFilms') %></div>
<hr>
<h2>Již jsi zhlédl</h2>
<div id="watched-films"><%- include('_watchedFilms') %></div>


<%- include('_footer') %>
